.ads-table {
    margin: 0 auto;
    width: 800px;
}

table.ads-table, table.ads-table th, table.ads-table td {
    border: 1px solid black;
}

.ad-form {
    margin: 0 auto;
    width: 300px;
}

.ad-form div {
    margin-top: 10px
}

.save-button {
    margin-top: 10px
}

.add-button {
    margin: 20px;
}

.add-button-div {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}